<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="/style.min.css ">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <div class="notice">
            <p><b>Success</b></p>
            <p>Thank you for filling out the form.</p>
        </div>
    </main>
    <%- include('includes/footer') %>
</body>
</html>